#header {
    width: 90;
    height: 110px; 
    background-image: url('oly.jpg');
    background-size: cover;
    background-position:50% 10%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 250px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 165, 43);
}

#headerImage {
    position: absolute; /* Position the image absolutely within the header */
    bottom: 38%; /* Align the image to the bottom of the header */
    left: 50%; /* Align the image horizontally */
    transform: translateX(-50%); /* Center the image horizontally */
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 2px solid white;
}

#menu {
    position: fixed;
    top: 0; /* Align menu exactly from the top */
    width: 100%;
    height: 35px;
    background: rgba(241, 130, 4, 0.543);
    z-index: 1000;
    text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}

.section {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: rgb(22, 22, 99);
    margin-top: 50px;
}

#likeButton {
    margin-top: 50%;
    padding: 10px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.row-container {
    text-align: center; /* Center-align rows horizontally */
    margin-bottom: 10px; /* Adjust margin between rows */
}

.row {
    max-width: 600px; /* Set maximum width for the rows */
    margin: 0 auto; /* Center-align the rows */
    text-align: left; /* Align text to the left within the rows */
    white-space: pre-wrap; /* Allow wrapping within words */
}