#header {
    width: 90;
    height: 110px; 
    background-image: url('photos/oly.jpg');
    background-size: cover;
    background-position:50% 10%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 250px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 165, 43);
}

#headerImage {
    position: absolute; /* Position the image absolutely within the header */
    bottom: 38%; /* Align the image to the bottom of the header */
    left: 50%; /* Align the image horizontally */
    transform: translateX(-50%); /* Center the image horizontally */
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 2px solid white;
}

#menu {
    position: fixed;
    top: 0; /* Align menu exactly from the top */
    width: 100%;
    height: 35px;
    background: rgba(241, 130, 4, 1);
    z-index: 9999;
    text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}

.section {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: rgb(22, 22, 99);
    margin-top: 20px;
    max-width: 600px; /* Set maximum width for the rows */
    margin: 0 auto; /* Center-align the rows */
    text-align: left; /* Align text to the left within the rows */

    margin-bottom: 50px;
}

#like {
    text-align: center; /* Center-align the like button */
}

#likeButton {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; /* Add this to make the button inline-block */
    margin-right: 50px;
}



row {
    margin-top: 100px;
    margin: 0 auto; /* Center-align the rows */
    text-align: left; /* Align text to the left within the rows */

}

.styled-text {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid #ccc; /* Border style and color */
    background-color: #f9f9f9; /* Background color */
}

#photos {
    text-align: center;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Adjust the top margin as needed */
}

.photos-container img {
    width: 200px;
    height: auto;
    margin: 10px; /* Adjust the margin between photos */
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    overflow: hidden;
    margin-top: 20px; /* Adjust as needed */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hebrew{
    direction: rtl;
    text-align: right;
}

.hebrew-title{
    direction: rtl;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-container form {
    flex: 1;
    margin-right: 70px;
    margin-top: 25px;
    width: 500px;
}


